.*~
*~
ABOUT-NLS
aclocal.m4
autom4te.cache
check-mtp-device
compile
config.cache
config.guess
config.h
config.h.in
config.log
config.rpath
config.status
config.sub
configure
COPYING
depcomp
.deps
gphoto2-config
gphoto2-port-config
gphoto2portConf.sh
INSTALL
install-sh
intl
libgphoto2_port.pc
libgphoto2_port.spec
libgphoto2_port-uninstalled.pc
libltdl
.libs
libtool
ltconfig
ltmain.sh
Makefile
Makefile.in
missing
mkinstalldirs
stamp-h
stamp-h1
stamp-h.in

